body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #357960;
    color: #333;
}

header {
    background: black;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    color: #C0FF6B;
}

.tagline {
    font-size: 1.2em;
    margin: 10px 0 20px;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

.contact-btn {
    background: #C0FF6B;
    color: black;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background 0.3s;
}

.contact-btn:hover {
    background: #83df0b;
}

main {
    padding: 20px 0;
}

section {
    padding: 20px 0;
}

.skills {
    background: #f9f9f9;
    padding: 40px 0;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.skill {
    flex: 1 1 calc(33.333% - 20px);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.skill ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill ul li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.skill-level {
    color: #555;
    font-weight: bold;
}


.about, .projects, .contact {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    flex: 1 1 calc(33.333% - 20px);
    background: #dbdbdb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.contact-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.contact-form button[type="button"] {
    background: #6c757d;
}

.contact-form button:hover {
    background: #0056b3;
}

.contact-form button[type="button"]:hover {
    background: #5a6268;
}


