{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myportfolio/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

    <script>
        // Typewriter effect for the name
document.addEventListener('DOMContentLoaded', function() {
    var typed = new Typed('#typed-name', {
        strings: ['Hi, I am Vashu...'],
        typeSpeed: 80,
        backSpeed: 40,
        loop: false
    });
});
    </script>


    <script src="{% static 'myportfolio/js/script.js' %}"></script>


</body>
</html>